{% extends "university/base_public.html" %}

{% block title %}
<title>Wskaźniki wydziału | Wskaźniki umiędzynarodowienia </title>

{% endblock title %}
     <!-- code to include the highcharts and jQuery libraries goes here -->
    <!-- load_charts filter takes a comma-separated list of id's where -->
    <!-- the charts need to be rendered to         ,PieChartContainer                    -->
    {% block extrastyle %}
         <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="http://code.highcharts.com/highcharts.js" type="text/javascript"></script>
     {% load chartit %}
    {{ indicatorsChart|load_charts:"LineChartContainer" }}
{% endblock extrastyle%}







{% load i18n %}

{% block branding %}
        <h1>Wskaźniki wydzialu {{ chosen_faculty.name }} </h1>
{% endblock branding %}



        {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% else %}<h1>Tutaj znajdziesz wszystkie niezbędne informacje o wskaźnikach wydziału: {{ chosen_faculty.name }}</h1>{% endif %}{% endblock %}

{% block maincontent %}

    {% if times_list.count > 1 %}
                <br><div id='LineChartContainer'> Chart will be rendered here </div><br><br><br>
            {% endif %}
            <table id="content-main">

<thead>
                <tr> <th><div class="text">Nazwa wskaźnika</div> </th> <th>Wartość </th><th>Współczynnik wag</th><th>Współczynnik łatwości</th> <th> Okres od </th><th> Okres do</th></tr>
</thead>
                <tbody>

            {% for t in times_list %}
                <tr style="min-height:2px;padding:2px;background-color:#417690;"><td></td><td></td><td></td><td></td><td></td><td></td></tr>

             {% for i in indicators_list %}
                 {% for fi in faculty_indicators_list %}
                     {% if i.id == fi.indicator.id and fi.time_interval.id == t.id and fi.indicator.is_public == True %}
                     <tr> <td>{{ i.shortcut }} </td> <td>{{ fi.value }} </td> <td> {{ fi.significance_coefficient }}</td> <td> {{ fi.ease_coefficient }}</td> <td> {{ t.start_date }}</td><td> {{ t.end_date }}</td> </tr>
                     {% endif  %}
                 {% endfor %}
             {% endfor %}
           {% endfor %}
<tbody>

            </table>

<!-- <div id='PieChartContainer'> Pie Chart will be rendered here </div> -->

            <div class="submit-row">
            <a class="back-button" href="{{request.META.HTTP_REFERER}}"  >Powrót do wydziałów </a>
            </div>

{% endblock maincontent %}