{% if chosen_faculty and faculty_indicators_list and indicators_list%}
 <p>You chose faculty {{ chosen_faculty.name }}</p>
    <br>
    <ul>
     {% for i in indicators_list %}
         {% for fi in faculty_indicators_list %}
             {% if i.id == fi.indicator.id %}
             <li> {{ i.shortcut }} : {{ fi.value }} : {{ fi.pub_date }}</li>
             {% endif  %}
         {% endfor %}
    {% endfor %}
    </ul>
    <p><a href="{% url 'university:university' chosen_faculty.university_id %}">Back to faculties</a> </p>
{% else %}
    <p>Faculty List is empty!</p>
{% endif %}