{% extends "university/base_public.html" %}
{% block title %}
<title>Strona domowa | Wskaźniki umiędzynarodowienia</title>
{% endblock title %}

 {% block branding %}
         <h1>Witamy na stronie wskaźników umiędzynarodowienia uniwersytetów</h1>
 {% endblock branding %}



{% block pretitle %}{% endblock %}
{% block content_title %}{% if title %}<h1>{{ title }}</h1>{% else %}<h1>Wybierz uniwersytet dla obejrzenia rankingów jego wydziałów</h1>{% endif %}{% endblock %}

{% block maincontent %}
<div class="results">
<table id="result_list">
<thead>
<tr>
    <th>     Nazwa uczelni   </th>    <th>    Ranking   </th>    <th>    Lokalizacja   </th>
</tr>
</thead>
<tbody>
 {% for u in object_list %}
        <tr class="{% cycle 'row1' 'row2' %}"><td><a href="{% url 'university:faculties' u.id %}">  {{ u.name }} </a></td> <td>{{ u.total_rank }}</td><td>{{ u.address }}</td></tr>
    {% endfor %}

</tbody>
</table>
</div>
{% endblock maincontent %}
