{% extends "university/base_public.html" %}
{% block title %}
<title>Osoby odpowiedzialni | Wskaźniki umiędzynarodowienia</title>
{% endblock title %}

 {% block branding %}
         <h1>Witamy na stronie wskaźników umiędzynarodowienia uniwersytetów</h1>
 {% endblock branding %}


{% block pretitle %}{% endblock %}
{% block content_title %}{% if title %}<h1>{{ title }}</h1>{% else %}<h1> Osoby, odpowiedzialni za obliczenia</h1>{% endif %}{% endblock %}

{% block maincontent %}
<div class="results">
<table id="result_list">
<thead>
<tr>
    <th>     Osoba  </th>    <th>    Odpowiedzialność   </th>    <th>    Telefon kontaktowy   </th> <th> Email </th>
</tr>
</thead>
<tbody>
<tr class='row1'><td>Volodymyr Ostruk</td> <td>Strona internetowa</td><td> +48535231855</td><td>V.Ostruk@elka.pw.edu.pl</td></tr>
<tr class='row2'><td>Roman Podraza</td> <td>Wydział Elektroniki i Technik Informacyjnych</td><td> +48538502384</td><td>pd@ii.pw.edu.pl</td></tr>

</tbody>
</table>
</div>
{% endblock maincontent %}